#main {
    display: flex;
    margin: auto;
    padding: 0;
    flex-wrap: wrap;
    align-content: flex-start;
}

#main {
    height: 500px;
    width: 900px;
    border: 1px solid black;
}

#header {
    width: 100%;
    height: 18%;
    border: 1px solid black;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Spicy Rice', cursive;
    line-height: 1em;
}

#rubrik {
    align-items: center;
}

.box {
    width: 33.112%;
    height: 26.8%;
    border: 1px solid black;
}

#Box_shadow {
    margin-top: 30px;
    margin-left: 70px;
    width: 50%;
    height: 50%;
    background-color: red;
    box-shadow: 20px 10px 1px gray;
    border: 1px solid black;
}

#Border_radius {
    margin-top: 30px;
    margin-left: 70px;
    width: 50%;
    height: 50%;
    background-color: limegreen;
    border: 1px solid black;
    border-radius: 20px;
}

#Transform {
    margin-top: 30px;
    margin-left: 100px;
    width: 40%;
    height: 60%;
    background-color: whitesmoke;
    border: 1px solid black;
    transform: rotate(20deg);
    text-align: center;
    font-size: 1.5em;
}

#box4 img {
    width: 37%;
    opacity: 1;
    margin-left: 28%;
    margin-top: -50%;
}

#opacity {
    width: 120px;
    height: 120px;
    background-color: yellow;
    opacity: 0.5;
    margin-left: 80px;
    border-radius: 50%
}

#columns {
    margin: 2%;
    font-size: 0.7em;
    column-count: 2;
    column-rule: 1px solid black;
    text-align: justify;
}

#box6 svg {
    stroke: purple;
    stroke-width: 1px;
    fill: lightpink;
    margin-left: 80px;
}

#transition {
    margin-top: 30px;
    margin-left: 70px;
    width: 50%;
    height: 50%;
    background-color: blue;
    border: 1px solid black;
    transition: width 4s, background 3s;
}

#transition:hover {
    width: 800px;
    background: yellow;
}

#bild {
    width: 100%;
    height: 100%;
    background: url(mercha.png) no-repeat, url(mr_bean.png) no-repeat, url(riksdagen.jpg) no-repeat;
    background-size: 150px, 100px, 100%, 100%;
    background-position: left bottom, right bottom;
}

#box9 div {
            position: relative;
            border: 1px solid black;
            padding: 10px;
            width: 50px;
            height: 50px;

        }

#div1 {
    top: 10px;
    left: 70px;
    z-index: 1;
    background-color: crimson;
}

#div2 {
    top: -40px;
    left: 90px;
    z-index: 2;
    background-color:aqua;
}

#div3 {
    top: -90px;
    left: 110px;
    z-index: 3;
    background-color:fuchsia;
}

@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');
